.upper-bar-div {
    display: flex;
    align-items: center;
    width: 100vw; 
    position: fixed;
    box-shadow: 1px 1px 4px 0px rgba(16, 24, 40, 0.1);
    z-index: 1;
    background-color: var(--neutral-background-color);
    left: 25.7rem;   
    height: 8%
}

.upper-bar-search {
    width: 25%;
}

.search-bar-div {
    width: 100%;
    height: 4.4rem;
    margin-left: 20rem;
    margin-top: 0.5rem;

}

.search-bar {
    width: 100%;
    height: 100%;
    position: relative;
}

.search-input {
    width: 100%;
    height: 100%;
    padding: 1rem 1.2rem 1rem 4.5rem;
    border-radius: 1.2rem;
    border: 1px solid var(--field-border-color);
    background-color: var(--field-background-color);
    
}

.search-input[type=search]:focus,
.search-input[type=search]:hover {
    border-color: var(--primary-background-color);
    outline: none;
}

.search-input::placeholder {
    font-size: var(--tertiary-font-size);
    font-family: var(--primary-font-family);
}

.search-button {
    border: none;
    background-color: var(--neutral-background-color);
    position: absolute;
    left: 0.4rem;
    top: 0.73rem;
    background-color: var(--field-background-color);
}

.search-button:hover{
    cursor: pointer;
}


.page-title {
    font-size: 20px;
    font-family: var(--primary-font-family);
    margin-left: 15px;
    margin-top: 1px;
    color: var(--secondary-font-color);
    width: 10.7rem;
    font-weight: 600;
}


.bell-icon {
    
    margin-top: 0.9rem;
    cursor: pointer
}

.profile-div {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 4rem;
}


.profile-img {
    height: 4rem;
    width: 4rem;
    border-radius: 5rem;
    border: 1px solid black;
    margin-bottom: 1px;
}

.profile-details {
    margin-left: 1rem;
    font-family: var(--primary-font-family);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
 
}   

.profile-name {
    font-size: 1.6rem;
    color: var(--primary-font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    width: 11rem;
    font-weight: 500;

}

.profile-email {
    color: var(--quaternary-font-color);
    font-size: var(--secondary-font-size);
    width: 11.7rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}
    
