.upper-bar-div {
    display: flex;
    align-items: center;
    width: 100vw; 
    position: fixed;
    box-shadow: 1px 1px 4px 0px rgba(16, 24, 40, 0.1);
    background-color: var(--neutral-background-color);
    left: 257px;   
    height: 8%
}

.upper-bar-search {
    width: 25%;
}

.search-bar-div {
    width: 100%;
    height: 44px;
    margin-left: 12rem;
    margin-top: 0.3125rem;
    
}

.search-bar {
    width: 100%;
    height: 100%;
    position: relative;
}

.search-input {
    width: 100%;
    height: 100%;
    padding: 10px 12px 10px 45px;
    border-radius: 12px;
    border: 1px solid var(--field-border-color);
    background-color: var(--field-background-color);
    
}

.search-input[type=search]:focus,
.search-input[type=search]:hover {
    border-color: var(--primary-background-color);
    outline: none;
}

.search-input::placeholder {
    font-size: var(--tertiary-font-size);
    font-family: var(--primary-font-family);
}

.search-button {
    border: none;
    background-color: var(--neutral-background-color);
    position: absolute;
    left: 0.2rem;
    top: 7.52px;
    background-color: var(--field-background-color);
}

.search-button:hover{
    cursor: pointer;
}


.page-title {
    font-size: 20px;
    font-family: var(--primary-font-family);
    margin-left: 15px;
    margin-top: 1px;
    color: var(--secondary-font-color);
    width: 107px;
    font-weight: 600;
}


.bell-icon {
    
    margin-top: 11px;
    cursor: pointer
}

.profile-div {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 30px;
}


.profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid black;
    margin-bottom: 1px;
}

.profile-details {
    margin-left: 0.5rem;
    font-family: var(--primary-font-family);
    display: flex;
    flex-direction: column;
    gap: 2px;
 
}   

.profile-name {
    font-size: 16px;
    color: var(--primary-font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px;
    width: 110.4px;
    font-weight: 500;


}

.profile-email {
    color: var(--quaternary-font-color);
    font-size: var(--secondary-font-size);
    width: 112px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
   
}
    
