.changing-component-div {
    position: absolute;
    background-color: var(--field-background-color); 
    min-height: 100vh;
    width: 92vw;
    left: 0;
    top: 57.6px;
    overflow-x: hidden;
    box-sizing: border-box;
}

.changing-component {
    margin-top: 35px;
    height: 100vh;
    background-color: var(--neutral-background-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    box-sizing: border-box;
}
