.changing-component-div {
    position: absolute;
    background-color: var(--field-background-color);
    height: 91.6vh;
    width: 83.26vw;
    display: flex;
    justify-content: center;
    left: 25.74rem;
    top: 60px;
    

}

.changing-component {
    margin-top: 3.5rem;
    margin-right: 0.2rem;
    height: 80%;
    width: 96%;
    background-color: var(--neutral-background-color);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}