.task-page {
    margin-top: 15px;
    /* border: 1px solid black; */
    width: 97%;
    height: 96%;
    display: flex;
    flex-direction: column;
 
}

.task-page-top {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    font-family: var(--primary-font-family);
    
}

.task-page-top-header {
    display: flex;
    gap: 0.6rem;
    color: var(--secondary-font-color);
    align-items: center;
    
}

.all-tasks {
    font-size: 24px;
    font-weight: 600;
}

.Modal.Mui-active {
    outline: none;
}

.number-of-tasks {
    font-size: 20px;
    margin-top: 0.2rem;
    color: var(--tertiary-font-color);
}

.primary-button {
    height: 40px;
    width: 147px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    font-size: 1rem;
    border-radius: 3.125rem;
    background-color: var(--primary-background-color);
    border: none;
    color: var(--neutral-background-color);
    font-weight: 400;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-decoration: none; 
}

.primary-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.primary-button:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.primary-button:focus {
    outline: none;
}

#popup {
    position: absolute;
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    background-color: transparent;
    
    transition: all 0.4s;
    top: 0;
    left: 0;
}



#popup {
    &:target {
        z-index: 2; 
        background-color: rgba(0, 0, 0, 0.5);
    }

    &:target #add-task-div {
        transform: translate(-50%, -50%) scale(1);

    }
    
}

.add-task-div-open {
    transform: translate(-50%, -50%) scale(1);
}

.add-task-div {
    position: relative;
	height: 600px;
	width: 550px;
	top: 50%;
	left: 52%;
	transform: translate(-50%, -50%) scale(1);
	border-radius: 10px;
    background-color: var(--neutral-background-color);
    border: 1px solid var(--modal-border-color);
    opacity: 1;
    padding: 15px;
    transition: transform 0.2s ease-in; 
}






.add-task-header {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--modal-border-color);
    padding: 0 12px 0 14px;
    
} 

.add-case {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--primary-font-family);
    font-size: 22px;
    font-weight: 500;
    color: var(--quinary-font-color);
}

.add-task-cross {
    margin-top: 5px;
    cursor: pointer;
}

.add-task-details-div {
    width: 100%;
    height: 77%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* border-bottom: 1px solid var(--modal-border-color); */
    
}

.add-task-details {
    & {
        width: 95%;
       
    }
    & input,
    & select,
    & textarea {
        width: 100%;
        border: 1px solid var(--field-border-color);
        border-radius: 8px;
        padding: 10px;
    }
    & input:hover,
    & input:focus,
    & textarea:hover,
    & textarea:focus,
    & select:hover,
    & select:focus  {
        outline: none;
        border-color: var(--primary-background-color);
    }
    & textarea {
        padding: 0;
        
    }

    & select {
        --webkit-appearance: none;
        appearance: none; 
        -moz-appearance: none;
        background-image: url('src/assets/modal-drop.svg');
        background-repeat: no-repeat;
        background-position: 97.4% 50%;
        cursor: pointer;
    }

    & input[type='date']::-webkit-calendar-picker-indicator {
        background-image: url('src/assets/calendar.svg');
        background-repeat: no-repeat;
        background-position: 98% 50%;
        cursor: pointer;
    }
}

.add-task-input-title {
    margin-top: 11px;
    margin-bottom: 4px;
    font-family: var(--secondary-font-family);
    font-size: 14px;
    color: var(--secondary-font-color);
}


.add-task-controls-div {
    width: 100%;
    height: 12%;
}

.add-task-controls {
    & {
        display: flex;
        gap: 20px;
        height: 100%;
        margin-left: 52.6%;
        width: 50%;
        align-items: center;
    }
    & button {
        border: 1px solid var(--quinary-font-color);
        
        border-radius: 28px;
        
    }

    & .cancel-button {
        background-color: var(--neutral-background-color);
        width: 95px;
        padding: 5px 15px 5px 15px;
    }

    & #modal-add-task-btn {
        width: 126px;
        color: var(--neutral-background-color);
        font-weight: 400;
        height: 37px;
        margin-bottom: 2px;
        
        
    }

    & a {
        text-decoration: none;
        font-family: var(--secondary-font-family);
        font-size: 14px;
    }

    & #cancel-link {
        
        color: var(--quinary-font-color);
    }

    
}

.MuiTypography-root.MuiTypography-body1 {
    font-size: 14px; /* Set your desired font size */
}

.table-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    width: 100%;
    height: 30px;
    opacity: 0.7;
    margin-bottom: 10px;
    border-radius: 10px;
}



@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

