*, *::before, ::after{
    box-sizing : border-box;
}
body {
    margin: 0;
}

:root{
    --neutral-background-color: white;
    --primary-background-color: #3B8AFF;
    --primary-font-family: inter;
    --secondary-font-family: DM Sans;
    --primary-font-size: 28px;
    --secondary-font-size: 12px;
    --field-border-color: #D1D5DB;
    --primary-font-color: #1F2937;
    --secondary-font-color: #374151;
    --tertiary-font-color: #9CA3AF;
    --neutral-font-color: white;
    --quaternary-font-color: #6B7280;
    --primary-button-disabled-color: #8ab3ff;
    --active-background-color: #EBF3FF;
    --tertiary-font-size: 14px;
    --quinary-font-color: #4B5563;
    --field-background-color: #F9FAFB;
}

.authentication-div{
    display: flex;
    height: 100%;
    width: 100%;
}

.backtosite-button{
    width: 124px;
    height: 36px;
    background-color: var(--neutral-background-color);
    border: none;
    display: flex;
    gap: 7.4px;
    margin-left: 70px;
    margin-top: 30px;
    cursor: pointer;
    
}

.backtosite-text{
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    margin-top: 2px;
    color: var(--secondary-font-color);
    font-weight: 570;
}

.leftarrow-img{
    margin-top: 6px;
}


.main-form-header{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo-img{
    height: 50px;
    width: 50px;
    margin-bottom: 4px;
}

.form-header-text{
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    color: var(--primary-font-color);
}

.checkbox{
    height: 24px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox > input{
    cursor: pointer;
}

.checkbox > label{
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
}

.checkbox > label > a{
    text-decoration: none;
    color: var(--primary-background-color);
    font-weight: 550;
    cursor: pointer;
}

.submit-div{
    width: 100%;
}
.submit-div-button{
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.prompt-to-signin{
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt-to-signin > a{
    text-decoration: none;
    color: var(--primary-background-color);
    font-weight: 550;
}

.google-sso{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 25px
}

.google-sso-button{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 40px;
    border-radius: 23px;
    background-color: var(--neutral-background-color);
    border: 1px solid var(--field-border-color);
    font-family: var(--primary-font-family);
    color: var(--quaternary-font-color);
}

::placeholder{
    font-size: var(--secondary-font-size);
    color: var(--tertiary-font-color);
    font-family: var(--secondary-font-family);
}

.authentication-container {
    display: grid;
    grid-template-columns: 40% 60%; /* Divide the container into 40% and 60% columns */
    height: 100vh; /* Ensure the container takes up the full height of the viewport */
}

.picture-container {
    /* display: flex; */
    align-items: top;
    justify-content: flex-start; /* Align items to the left */
}

.picture {
    width: auto; /* Allow the width to adjust dynamically */
    height: 40%; /* Take up the full height of the container */
    max-width: 100%; /* Ensure the picture doesn't exceed its container's width */
    object-fit: contain; /* Maintain aspect ratio */
}

/* Additional styling for the form container if needed */
.form-container {
    display: flex;
    align-items: top;
    height: 100vh;
    margin-top: 20px;
    justify-content: center;
}

.forgot-password-text{
    font-size: var(--secondary-font-size);
    font-family: var(--secondary-font-family);
    margin-left: 28%;
}

.forgot-password-text > a {
    color: var(--primary-background-color);
    text-decoration: none;
}

.cssload-loader {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 49.7%;
	transform: translate3d(-50%, -50%, 0);
	perspective: 1200;
    margin-bottom: 50px;
    
}

.cssload-flipper {
	position: relative;
	display: block;
	height: inherit;
	width: inherit;
	animation: cssload-flip 1.38s infinite ease-in-out;
	transform-style: preserve-3d;
}

.cssload-front,
.cssload-back {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background-color: var(--primary-background-color);
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
}

.cssload-back {
	background-color: var(--primary-font-color);
	z-index: 800;
	transform: rotateY(-180deg);
		-o-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
}

.tasks-page-logo-div {
    height: 12%;
    width: 100%;

}

.tasks-page-routes-div {
    height: 32%;
    width: 100%;
    margin-top: 30px;
}

.tasks-page-route:hover {
    cursor: pointer;
}

.tasks-page-route-name {
    margin-top: 2px;
    transition: font-size 0.3s ease;
    
}

.tasks-page-route-name:hover {
    text-decoration: underline;
    cursor: pointer;
    font-size: 17px;
}

.tasks-page-priority-div {
    width: 100%;
    height: 28%;
    margin-top: 30px;
}

.priority-header {
    margin-left: 7%;
    font-family: var(--primary-font-family);
    font-size: var(--tertiary-font-size);
}

.tasks-page-priority {
    display: flex;
    margin-left: 16%;
    margin-top: 30px;
    align-items: center;
}

.tasks-page-priority-level {
    margin-left: 9%;
    font-family: var(--primary-font-family);
    font-size: var(--tertiary-font-size);
    color: var(--quinary-font-color);
    cursor: pointer;
}

.tasks-page-number {
    margin-left: 165px;
    position: absolute;
    font-family: var(--primary-font-family);
    font-size: var(--secondary-font-size);
    height: 20px;
    width: 20px;
    background-color: var(--active-background-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tasks-page-side {
    width: 255px;
    height: 99.6vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px 0px rgba(16, 24, 40, 0.1);
    z-index: 10;
    background-color: var(--neutral-background-color);

}

.upper-bar-div {
    display: flex;
    left: 257px;
    align-items: center;
    width: 100vw;
    position: fixed;
    height: 8%;
    box-shadow: 1px 1px 4px 0px rgba(16, 24, 40, 0.1);
    z-index: 10;
    background-color: var(--neutral-background-color);
}

.upper-bar-search {
    width: 25%;
}

.search-bar-div {
    width: 100%;
    height: 44px;
    margin-left: 200px;
    margin-top: 5px;
}

.search-bar {
    width: 100%;
    height: 100%;
    position: relative;
}

.search-input {
    width: 100%;
    height: 100%;
    padding: 10px 12px 10px 45px;
    border-radius: 12px;
    border: 1px solid var(--field-border-color);
    background-color: var(--field-background-color);
    
}

.search-input::placeholder {
    font-size: var(--tertiary-font-size);
    font-family: var(--primary-font-family);
}

.search-input:hover {
    border: 1px solid var(--primary-background-color);
}

.search-button {
    border: none;
    background-color: var(--neutral-background-color);
    position: absolute;
    left: 4px;
    top: 7.3px;
    background-color: var(--field-background-color);
}

.search-button:hover{
    cursor: pointer;
}


.page-title {
    font-size: 20px;
    font-family: var(--primary-font-family);
    margin-left: 15px;
    margin-top: 1px;
    color: var(--secondary-font-color);
    width: 107px;
}

.bell-icon {
    margin-left: calc(100vw - 70vw);
    margin-top: 3.45px;
    margin-right: 20px;
}

.profile-div {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 15px;
}


.profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid black;
    margin-bottom: 1px;
}

.dropdown {
    margin-left: 10px;
}

.changing-component-div {
    position: absolute;
    background-color: var(--field-background-color);
    height: 91.6vh;
    width: 83.26vw;
    
    display: flex;
    justify-content: center;
    left: 257.4px;
    top: 60px;
    

}

.changing-component {
    margin-top: 35px;
    height: 80%;
    width: 95%;
    background-color: var(--neutral-background-color);
}




@keyframes cssload-flip {
	0% {
		transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}
