*, *::before, ::after{
    box-sizing : border-box;
}
body {
    margin: 0;
}

html {
	font-size: 100%;
		
} 

:root{
    --neutral-background-color: white;
    --primary-background-color: #3B8AFF;
    --primary-font-family: inter;
    --secondary-font-family: DM Sans;
    --primary-font-size: 28px;
    --secondary-font-size: 12px;
    --field-border-color: #D1D5DB;
    --primary-font-color: #1F2937;
    --secondary-font-color: #374151;
    --tertiary-font-color: #9CA3AF;
    --neutral-font-color: white;
    --quaternary-font-color: #6B7280;
    --primary-button-disabled-color: #8ab3ff;
    --active-background-color: #EBF3FF;
    --tertiary-font-size: 14px;
    --quinary-font-color: #4B5563;
    --field-background-color: #F9FAFB;
	--modal-border-color: #C1C7D0;
	--low-font-color: #1FDE43;
	--high-font-color: #F87171;
	--medium-font-color: #F59E0B;
	--inprogress-font-color: #F59E0B;
	--light-border-color: #E5E7EB;
	--logout-color: #EF4444;

}


.cssload-loader {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 49.7%;
	transform: translate3d(-50%, -50%, 0);
	perspective: 1200;
    margin-bottom: 50px;
    
}

.cssload-flipper {
	position: relative;
	display: block;
	height: inherit;
	width: inherit;
	animation: cssload-flip 1.38s infinite ease-in-out;
	transform-style: preserve-3d;
}

.cssload-front,
.cssload-back {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background-color: var(--primary-background-color);
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
}

.cssload-back {
	background-color: var(--primary-font-color);
	z-index: 800;
	transform: rotateY(-180deg);
		-o-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
}

input,
select,
textarea{
	font-family: var(--secondary-font-family);
	
}

 
 

.note-attachments-a:hover .attach-file-path {
    stroke: var(--primary-background-color);
} 

.note-attachments-b:hover .tag-path {
    stroke: var(--primary-background-color);
} 



@keyframes cssload-flip {
	0% {
		transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}



