.authentication-div{
    display: flex;
    height: 100%;
    width: 100%;
}

.backtosite-button{
    width: 7rem;
    height: 2rem;
    background-color: var(--neutral-background-color);
    border: none;
    display: flex;
    gap: 7.4px;
    margin-left: 70px;
    margin-top: 30px;
    cursor: pointer;
 
    
}

.backtosite-text{
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    margin-top: 2px;
    color: var(--secondary-font-color);
    font-weight: 570;
}

.leftarrow-img{
    margin-top: 6px;
}


.main-form-header{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo-img{
    height: 50px;
    width: 50px;
    margin-bottom: 4px;
}

.form-header-text{
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    color: var(--primary-font-color);
}

.checkbox{
    height: 24px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox > input{
    cursor: pointer;
}

.checkbox > label{
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
}

.checkbox > label > a{
    text-decoration: none;
    color: var(--primary-background-color);
    font-weight: 550;
    cursor: pointer;
}

.submit-div{
    width: 100%;
}
.submit-div-button{
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.prompt-to-signin{
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt-to-signin > a{
    text-decoration: none;
    color: var(--primary-background-color);
    font-weight: 550;
}

.google-sso{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 25px;
}

.google-sso-button{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 40px;
    border-radius: 23px;
    background-color: var(--neutral-background-color);
    border: 1px solid var(--field-border-color);
    font-family: var(--primary-font-family);
    color: var(--quaternary-font-color);
}

::placeholder{
    font-size: var(--secondary-font-size);
    color: var(--tertiary-font-color);
    font-family: var(--secondary-font-family);
}

.authentication-container {
    display: grid;
    grid-template-columns: 40% 60%; /* Divide the container into 40% and 60% columns */
    height: 100vh; /* Ensure the container takes up the full height of the viewport */
}

.picture-container {
    /* display: flex; */
    align-items: top;
    justify-content: flex-start; /* Align items to the left */
}

.picture {
    width: auto; /* Allow the width to adjust dynamically */
    height: 40%; /* Take up the full height of the container */
    max-width: 100%; /* Ensure the picture doesn't exceed its container's width */
    object-fit: contain; /* Maintain aspect ratio */
}

/* Additional styling for the form container if needed */
.form-container {
    display: flex;
    align-items: top;
    height: 100vh;
    margin-top: 20px;
    justify-content: center;
}

.forgot-password-text{
    font-size: var(--secondary-font-size);
    font-family: var(--secondary-font-family);
    margin-left: 28%;
}

.forgot-password-text > a {
    color: var(--primary-background-color);
    text-decoration: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #000;
}