.settings-page-div {
    width: 97%;
    margin-top: 25px;
    margin-bottom: 65px;
}

.settings-header-text {
    width: 100%;
    font-family: var(--primary-font-family);
    font-size: 24px;
    color: var(--secondary-font-color);
    font-weight: 600;
    margin-left: 12px;
}

.settings-header-nav {
    display: flex;
    gap: 30px;
   
    max-width: 610px;
    height: 56px;
    border-radius: 30px;
    border: 1px solid var(--light-background-color);
    background-color: var(--field-background-color);
    opacity: 0px;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding: 0 7px 0 7px;

}

.settings-nav {
    font-family: var(--primary-font-family);
    font-size: 18px;
    color: var(--quaternary-font-color);
    cursor: pointer;
    height: 44px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
}

.settings-nav:hover {
    /* height: 44px;
    width: 115px; */
    /* border-radius: 22px; */
    background-color: white;
    /* display: flex;
    align-items: center; */
    /* justify-content: center; */
    color: var(--primary-background-color);
    box-shadow: 0px 2px 6px 0px #1018280F;

}

.settings-logout,
.settings-logout:hover {
    color: var(--logout-color);
}



.settings-notification:hover {
    width: 140px;
}

.settings-notification{
    width: 140px;
}

.settings-controls {
    border-top: 1px solid var(--field-border-color);
    width: 98%;
    margin-left: 10px;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    height: 0px;
    align-items: center;
}

.general-page-content {
    width: 98%;
    margin-top: 30px;
    margin-left: 12px;
    min-height: 350px;
}

.select-language-div {
    display: flex;
    width: 100%;
    font-family: var(--primary-font-family);
}

.select-language-input {
    width: 100%;
    margin-top: 7px;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--field-border-color);
    
}

.select-language-input:hover,
.select-language-input:focus {
    outline: 1px solid var(--primary-background-color);
}

.select-d-and-t-format-div {
    display: flex;
    width: 100%;
    font-family: var(--primary-font-family);
    margin-top: 30px;
}

.time-zone-div {
  
    width: 100%;
    font-family: var(--primary-font-family);
    margin-top: 30px;
}

.app-appearance-div {
    width: 100%;
    font-family: var(--primary-font-family);
    margin-top: 30px;
}

.app-appearance-content {
    display: flex;
    gap: 60px;
}

.app-color {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
}

.blue-app {
    background-color: #3B8AFF;
}

.pink-app {
    background-color: var(--pink-accent-color);
}

.green-app {
    background-color: var(--green-accent-color);
}

.orange-app {
    background-color: var(--orange-accent-color);
}



.blue-app:hover .animated-blue-circle {
        height: 50px;
        width: 50px;
       
        /* border-radius: 50px; */
        border: 1px solid #3B8AFF;
        transform: translate(-50%, -50%) ;
        position: absolute; 
        margin-top: 20px;
        border-radius: 50px;
        margin-left: 20px;
}

.pink-app:hover .animated-pink-circle {
    height: 50px;
    width: 50px;
   
    /* border-radius: 50px; */
    border: 1px solid var(--pink-accent-color);
    transform: translate(-50%, -50%) ;
    position: absolute; 
    margin-top: 20px;
    border-radius: 50px;
    margin-left: 20px;
}

.green-app:hover .animated-green-circle {
    height: 50px;
    width: 50px;
    
    /* border-radius: 50px; */
    border: 1px solid var(--green-accent-color);
    transform: translate(-50%, -50%);
    position: absolute; 
    margin-top: 20px;
    border-radius: 50px;
    margin-left: 20px;
}

.orange-app:hover .animated-orange-circle {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid var(--orange-accent-color);
    margin-top: 20px;
    border-radius: 50px;
    margin-left: 20px;
    transform: translate(-50%, -50%);
} 

.orange-outer-circle {
    border: 1px solid var(--orange-accent-color);
}

.blue-outer-circle {
    border: 1px solid var(--primary-background-color);
}

.green-outer-circle {
    border: 1px solid var(--green-accent-color);
}

.pink-outer-circle {
    border: 1px solid var(--pink-accent-color);
}

.outer-circle {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-top: 20px;
    border-radius: 50px;
    margin-left: 20px;
    transform: translate(-50%, -50%);
    background: transparent;
}

.app-color::before {
    display: block;
    position: absolute;
    /* z-index: -1; */
    width: 100%;
    height: 100%;
    border-radius: 50%;
   
    opacity: 0;
    content: '';
    animation: pulse 1s infinite;
  }

.app-color:hover::before {
    animation: none;
}

.app-color.no-animation::before {
    animation: none;
}

.app-color.blue-blast::before {
    animation: blastOut 0.3s;
    background-color: #3B8AFF;
}

.app-color.pink-blast::before {
    animation: blastOut 0.3s;
    background-color: var(--pink-accent-color);
}

.app-color.green-blast::before {
    animation: blastOut 0.3s;
    background-color: var(--green-accent-color);
}

.app-color.orange-blast::before {
    animation: blastOut 0.3s;
    background-color: var(--orange-accent-color);
}



.orange-app::before {
    background-color: var(--orange-accent-color);
}

.pink-app::before {
    background-color: var(--pink-accent-color);
}

.green-app::before {
    background-color: var(--green-accent-color);
}

.blue-app::before {
    background-color: #3B8AFF;
}

.hover-effect-btn:hover {
    background-position: left bottom;
}

.account-page-content {
    width: 98%;
    margin-top: 30px;
    margin-left: 12px;
    min-height: 350px;
}

.account-profile-div {
    display: flex;
    gap: 70px;
}

.end-line {
    height: 0;
    width: 100%;
    border-top: 1px solid var(--field-border-color);
    margin-top: 40px
}

.account-details-div {
    width: 100%;
    height: 152px;
    margin-top: 20px;
}

.account-details-username,
.account-details-email {
    display: flex;
    gap: 97px;
    width: 100%;
    margin-top: 20px;
}

.account-details-display {
    width: 100%;
    
}

.account-box {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 62.5%;
    border: 1px solid var(--field-border-color);
    border-radius: 8px;
    margin-top: 8px;
    font-family: var(--secondary-font-family);
    color: var(--quinary-font-color);
    font-size: 14px;
}

.account-details-text {
    width: 150px;
    color: var(--quaternary-font-color);
    font-size: 16px;
    font-family: var(--primary-font-family);
   
    display: flex;
    align-items: center;
}

.account-password {
    display: flex;
    gap: 70px;
    width: 100%;
    margin-top: 20px;
}

.cp-text,
.np-text,
.rp-text {
    width: 150px;
    color: var(--quaternary-font-color);
    font-size: 16px;
    font-family: var(--primary-font-family);
    display: flex;
    align-items: center;
}

.cp-input-header,
.np-input-header,
.rp-input-header,
.account-username-text,
.account-email-text {
    font-family: var(--secondary-font-family);
    color: var(--primary-font-color);
    font-size: 14px;
}


.np-input-div,
.cp-input-div,
.rp-input-div {
    width: 50.5%;
}

.cp-input,
.np-input,
.rp-input {
    height: 40px;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    margin-top: 8px;
    border: 1px solid var(--field-border-color);
}

.cp-input:hover,
.np-input:hover,
.rp-input:hover {
    
    border: 1px solid var(--primary-background-color);
}

.cp-input:focus,
.rp-input:focus,
.np-input:focus {
    border: 1px solid var(--primary-background-color);
    outline: none;
}

.email-task-due-box,
.email-task-completed-box,
.email-task-overdue-box {
    display: flex;
    border: 1px solid var(--field-border-color);
    margin-bottom: 18px;
    border-radius: 12px;
    width: 100%;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.email-task-due-header,
.email-task-completed-header,
.email-task-overdue-header {
    font-size: 14px;
    color: var(--quaternary-font-color);
    font-family: var(--secondary-font-family);
}

.settings-notifications-div {
    display: flex;
    margin-left: 10px;
    margin-top: 35px;
    gap: 90px;
}

.email-task-due-text,
.email-task-completed-text,
.email-task-overdue-text {
    width: 350px;
}

.email-task-due-para,
.email-task-completed-para,
.email-task-overdue-para {
    font-size: 14px;
    font-family: var(--primary-font-family);
    color: var(--tertiary-font-color);
    margin-top: 10px;
}


.account-profile-header {
    color: var(--quinary-font-color);
    font-family: var(--primary-font-family);
    font-size: 16px;
}

.account-profile-para {
    color: var(--tertiary-font-color);
    font-family: var(--primary-font-family);
    font-size: 14px;
    margin-top: 10px;
}

.account-change-password-text {
    font-family: var(--primary-font-family);
    color: #000000;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 600;
}

.account-current-password {
    margin-top: 40px;
}




@keyframes pulse {
    from {
      transform: scale(1);
      opacity: .4;
    }
    to {
      transform: scale(1.5);
      opacity: 0;
    }
  }

@keyframes expandOut {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes blastOut {
    from {
      transform: scale(0.9);
      opacity: .4;
    }
    to {
      transform: scale(6);
      opacity: 0;
    }
  }


